.sidebar-intro {
    color: $color-text;
    line-height: 169.7%;    
    letter-spacing: -0.005em;
    margin: 3rem 0;
}

.attributes-list {
    color: #fff;
    font-family: $accent-font-family;
    line-height: 26px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.195em;
    margin: 3rem 0;
    margin-top: 2rem;
}